<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdmZ7m8tQRJsF8vTaso3gZ7eb4dWmMbCPiCPAwl5QC_sVILA7m"
    height="200"
    alt=""
    srcset=""
    >
  </div>
  <div class="big-card__title">
  <h1><a href="#">Saiu a nova versao do Angula</a></h1>

  </div>
  <div class="big-card__description">
    <p>
    <a href="#">
    Esta comecando a ter uma forma nosso projeto de Angula Esta comecando a ter uma forma nosso projeto de Angula Esta comecando a ter uma forma nosso projeto de Angula Esta comecando a ter uma forma nosso projeto de Angula</a></p>

  </div>
  <div>

  </div>

</div>
